<h1>Cocktails#index</h1>
<p>Find me in app/views/cocktails/index.html.erb</p>

<% @cocktails.each do |cocktail| %>
  <h1><%= cocktail.name %></h1>
  <%= link_to "show more", cocktail_path(cocktail) %>
<% end %>

<%= link_to "add a new cocktail", new_cocktail_path %>
